
body {
	color: #495057;
	font-family: Lora, serif;
	font-weight: 0.875rem;
	background: rgba(239, 226, 207, 1)
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	gap: 0.9375rem;
}

[class*="__container"] {
	max-width: 83.125rem;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	margin: 0 auto;
}

header {
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	height: 80px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.9375rem;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	min-height: 5rem;
}


.logo {
	width: 4.375rem;
	height: 4.375rem;
	align-self: flex-start;
	border-radius: 50%;
}

.logo-link {

}

.home-dish__container {
	align-self: center;
	overflow-x: auto; 
  	white-space: nowrap;
  	width: 100%;
	overflow-x: auto; /* Включаем горизонтальную прокрутку */
	white-space: nowrap; /* Запрещаем перенос текста на новую строку */
	width: 100%; /* Ширина контейнера клавиатуры */
	scrollbar-width: none; /* Скрываем видимый ползунок на поддерживаемых браузерах */
	-ms-overflow-style: none; /* Скрываем видимый ползунок на Internet Explorer/Edge */
}

.home-dish__container::-webkit-scrollbar {
	display: none;
  }

.category-link {
 	color: rgb(28, 81, 55);
 	text-decoration: none;
	font-size: 3.5rem;
	font-weight: 700;
}

.category-link:hover {
	color: #D4A373;
}

.home__sections {
	display: grid;
	repeat: (auto-fill, minmax(17.5rem, 1fr));
	gap: 25px;
	justify-content: center;
}

.home__dish-category {
	display: inline-block; /* Обертка для клавиш */
	padding: 10px; /* Добавьте отступы по желанию */
	justify-content: center;
}

.home__dish-list{
	
}

.section__category {
	padding: 5px;
	color: rgb(28, 81, 55);
	border-radius: 25px;
	text-decoration: none;
	display: inline-block; /* Каждая клавиша на одной строке */
  	padding: 10px 20px; /* Задайте размеры и отступы для клавиш */
  	border: 1px solid #ccc; /* Добавьте рамку по желанию */
  	background-color: #f0f0f0; /* Цвет фона клавиш */
  	font-size: 16px; /* Размер шрифта клавиш */
  	margin-right: 10px; /* Отступ между клавишами */
}

.section__category:hover {
	color: #D4A373;
}

.main__menu {
	max-width: 993px;
}

.main__categories {
	display: flex;
	justify-content: center;
}

.main__category {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.5625rem;
	max-width: 993px;
}

.category__dish {
}

.menu__list {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	row-gap: 0.3125rem;
	column-gap: 1.5rem;
}


.menu__item {
	width: 150px;
	height: 80px;
}

.menu__link {
	color: #FFF;
	font-family: Roboto sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	display: inline-block;
	position: relative;
	line-height: 1.5rem;
}

.menu__link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0.125rem;
	transition: all 0.3s;
	background: #D4A373;
}

.menu__link.active::after, 
.menu__link:hover::after {
	width: 100%;
	left: 0;
}

main {
	flex: 1 1 auto;
} 

.footer {
	background: rgb(51, 51, 51);
	padding: 1.875rem 0;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	gap: 0.9375rem;
	color: #E5E5E5;
	line-height: 128.571429%; /* 18/14 */
}

.footer__text {
	text-transform: uppercase;
	font-weight: 700;
}

.footer__up {
}

.footer__up:hover {
	text-decoration: underline;
}


.big-post {
	position: relative;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;

}
.big-post__container {
	position: relative;
	display: grid;
	justify-items: center;
	z-index: 2;
	gap: 0.8125rem;

}
.big-post__category {
}

.big-post__title {
	max-width: 33.125rem;
}
.big-post__link {
}
.big-post__text {
	color: #E5E5E5;
	max-width: 26.25rem;
}
.text {
}
.big-post__author {
}
.big-post__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #343A40;
}

.big-post__bg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
}

/*------*/
.dish-card {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 20px;
	margin: 10px;
	display: flex;
  	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавление тени */
  }
  
  .dish-info {
	flex: 1;
	padding-right: 20px;
  }
  
  .dish-title {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
  }
  
  .dish-description {
	font-size: 18px;
	color: #666;
	margin-bottom: 10px;
  }
  
  .dish-price {
	font-size: 20px;
	color: #ff5722;
	margin-bottom: 10px;
  }
  
  .dish-ingredients {
	font-size: 16px;
	color: #888;
  }
  
  .dish-image {
	flex: 0 0 150px; /* Фиксированная ширина изображения */
  }
  
  img {
	max-width: 100%;
	height: auto;
	width: auto;
	border-radius: 15px;
  }